# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: f7421dd6c945590ee518d7eccfaf1e52e5b06b5007d6fc25346fc68c8c8b18075b61b4f606ad66fbffde5b2c291cd330d6e15d828afc6d1b5becdfaba0fb02b0

test:
  secret_key_base: f900734497fd76abd55a48b9b3b0078d180a9d937243d6740539ebfb7a0cd4dd55d6bd6c0934d92cb27f13b96c09eacd71476bf7fa41a30e33e84201c55b8eab

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
