<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Dashboard" });
    });
  </script>
<% end %>

<h2>Unpublished Questions</h2>

<%= link_to("Show Published Questions", admin_questions_path(published: true)) %>

<%= render(partial: 'admin/questions/questions', object: @questions) %>
